{% extends "AcmeDemoBundle:Secured:layout.html.twig" %}

{% block title "Insert image" %}

{% block content %}
    <form action="{{ path('_demo_secured_insert_image') }}" method="POST" id="insert_image_form">
        {{ form_errors(form) }}
		
		<table>
			<tr>
				<td>
					{{ form_label(form.image_name) }}
				</td>
				<td>
					{{ form_errors(form.image_name) }}
					{{ form_widget(form.image_name) }}
				</td>
			</tr>
			<tr>
				<td>
					{{ form_label(form.image_description) }}
				</td>
				<td>
					{{ form_errors(form.image_description) }}
					{{ form_widget(form.image_description) }}
				</td>
			</tr>
			<tr>
				<td>
					{{ form_label(form.category) }}
				</td>
				<td>
					{{ form_errors(form.category) }}
					{{ form_widget(form.category) }}
				</td>
			</tr>
			<tr>
				<td>
					{{ form_label(form.image_file) }}
				</td>
				<td>
					{{ form_errors(form.image_file) }}
					{{ form_widget(form.image_file) }}
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<input type="submit" value="Insert" class="symfony-button-grey" />
				</td>
			</tr>
		</table>

        {{ form_rest(form) }}
    </form>
{% endblock %}

