{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Item" %}

{% block content %}
	{% for key, value in elem %}
    <h1>{{value.getImageName()}}</h1>
	
		{#Key : {{ key }}#}
		<table>
			 <tr>
				<td>
					<a href="{{ path('_demo_item', {'id': value.getIdImage()}) }}">
						<img src="{{ asset('bundles/acmedemo/images/'~ value.getImageFile()) }}" style="max-width:80%; "/>
						
						<br/>
						{{value.getImageDescription()}}
					</a>
				</td>
			 </tr>
		 </table>
	
	{% endfor %}
	
{% endblock %}


{% set code = code(_self) %}
