{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Item" %}

{% block content %}
    <h1>{{value.image_name}}</h1>
	
	{% for key, value in elem %}
		{#Key : {{ key }}#}
		<table>
			 <tr>
				<td>
					<a href="{{ path('_demo_item', {'id': value.idimage}) }}">
						<img src="{{ asset('bundles/acmedemo/images/'~ value.image_file) }}" style="max-width:80%; "/>
						
						<br/>
						{{value.image_description}}
					</a>
				</td>
			 </tr>
		 </table>
	
	{% endfor %}
	
{% endblock %}


{% set code = code(_self) %}
