{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "GalleryProject - List " %}


{% block content %}
	
	<table width="100%">
	<tr>
		<td valign="top" style="padding-right:20px;">
			<ul>
				<li> 
					<a href="{{ path('_demo_list', {'idcategory': 0}) }}">
						All
					</a>
				</li>
				{% for key, value in list_categories %}
				<li>
					<a href="{{ path('_demo_list', {'idcategory': value.idcategory}) }}">
						{{value.category_name}}
					</a>
					
				</li>
				{% endfor %}
			</ul>
		</td>
		<td>
	
			<table border="0" >
			 <tr>
			{% for key, value in list_images %}
				{#Key : {{ key }}#}
				
						<td align="center">
							<a href="{{ path('_demo_item', {'id': value.idimage}) }}">
							
								<div style="margin:3px;width: 300px;height: 300px;border-radius: 150px;-webkit-border-radius: 150px;-moz-border-radius: 150px;background:url({{ asset('bundles/acmedemo/images/'~ value.image_file) }}) 50% 50%; background-size: 500px;">
									<img src="{{ asset('bundles/acmedemo/images/'~ value.image_file) }}" style="width:300px;height:300px;opacity: 0;filter: alpha(opacity=0); "/>
								</div>
								<br/>
								{{value.image_name}}
								<br/>
								{{value.category_name}}
								<br/>
								{{value.username}}
							</a>
						</td>
						{% if loop.index is divisibleby(3) %}
						</tr>
						<tr>
						{% endif %}
			{% endfor %}
			</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}


{% set code = code(_self) %}
